<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                  </li>
                </ul>
              </nav>
              
    <div class="container">

        <div class="row"> 
                
            <div class="col col-12 col-sm-8 col-md-6"> 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet suscipit eveniet velit molestias adipisci et nobis, incidunt fuga aliquam, inventore culpa repudiandae iste provident ea accusantium, magni nesciunt? Iste, in.
      </div>  
      <div class="col col-12 col-sm-4 col-md-6">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia iure qui voluptas quos enim architecto ipsam maxime magni porro, ratione dolorem molestiae assumenda, minima molestias veritatis quibusdam voluptates hic corporis.
        </div>
</div>
</div>
</body>
</html>